
body {
  background: #22e061;
  overflow: hidden;
  margin-top: 60px;
}

.main-container {
  margin: auto;
  margin-top: 30px;
  width: 800px;
  padding: 40px;
  background-color: #000;
  color: #fff;
  box-shadow:
    0 0 400px #000,
    0 0 400px #000,
    0 0 400px #0000,
    0 0 200px #000;
}

h1 {
  padding: 1em 0;
  font-family: sans-serif;
}

header {
  margin: auto;
  max-width: 600px;
}

.main {
  margin: auto;
  display: flex;
  justify-content: space-around;
  max-width: 600px;
}

.container {
  display: flex;
  flex-direction: column;
}

.recent-scores-container {
  width: 100%;
  max-width: 300px;
}

button {
  background: white;
  padding: 5px;
  font-size: 12px;
  height: 30px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #0f0e0f;
  border: #000 2px solid;
}

button:hover {
  background-color: #0f0e0f;
  color: #fff;
}

.recent {
  display: flex;
  justify-content: space-between;
}

.listContainer {
  border: 1px solid black;
  background: #5f665f;
  overflow-y: scroll;
  width: 300px;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
}

.listContainer li {
  padding: 3px;
  list-style: none;
  border-bottom: 1px solid black;
}

.listContainer li:nth-child(even) {
  background: linear-gradient(to bottom, transparent, #022502);
}

.title {
  padding-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form input {
  box-sizing: border-box;
  background-color: #fff;
  padding: 10px;
  border: none;
  font-size: 1rem;
  color: #000;
  width: 100%;
  margin-bottom: 20px;
}

.form button {
  align-self: flex-end;
}
